<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTECHID</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/component/WEBTECHID_LOGO.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="admin.html">Admin</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section class="detail-blog padding35">
            <h1 class="title-section uppercase" style="margin-bottom: 20px;">Title News</h1>
            <img src="../assets/images/images (10).jpg" alt="">
            <span>29 agustus 2024 - Irsyad Andhika | 25 View - 15 Comment</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia at quaerat ducimus voluptatem debitis
                ipsam quam eveniet ipsum pariatur optio, labore nam error ab illum veritatis quidem magni minima
                corporis. At magni laborum porro quidem, nemo nisi a aliquam cum quaerat accusamus placeat. Autem dolor
                quasi, eligendi sed natus saepe dicta delectus nisi error, mollitia illo? Quo excepturi laborum totam
                mollitia voluptatem illo quod tempora qui eos nemo, praesentium eveniet facere quidem laudantium alias.
                Delectus exercitationem magni officia recusandae, perspiciatis dolorem blanditiis sint ex omnis
                temporibus harum ipsam nihil dolore possimus dicta, et facilis itaque impedit quidem in laborum
                voluptatibus? Vitae quibusdam aperiam natus expedita dicta blanditiis, esse molestias tenetur corrupti
                ea obcaecati, perferendis sint incidunt quidem perspiciatis maxime accusantium! Aut inventore cupiditate
                tenetur ipsum asperiores rem tempora soluta. Rerum alias, sapiente ipsam impedit autem, rem repudiandae
                et quae itaque aperiam aliquid nostrum fugiat sint asperiores esse dolore soluta explicabo!</p>
            <div class="tag-category">
                <button class="btn-tag-category">Html</button>
                <button class="btn-tag-category">Css</button>
                <button class="btn-tag-category">Js</button>
                <button class="btn-tag-category">PHP</button>
                <button class="btn-tag-category">Tailwind</button>
                <button class="btn-tag-category">Bootstrap</button>
            </div>
        </section>
        <section class="comment-section">
            <form class="comment-form">
                <h1 class="title-section uppercase">comments</h1>
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="Subject" placeholder="Subject">
                <input type="url" name="website" placeholder="Website">
                <input type="email" name="email" placeholder="Email">
                <textarea name="comment" placeholder="Comment"></textarea>
                <div class="captcha-section">
                    <span class="captcha" id="captcha"></span>
                    <button type="button" id="refresh-captcha" aria-label="Refresh CAPTCHA">&#x21bb;</button>
                    <input type="text" name="captcha_input" placeholder="Enter CAPTCHA" required>
                </div>
                <button type="submit">Submit</button>
            </form>
            <div class="flex-wrap-4">
                <div class="the-comment">
                    <h3 class="uppercase">Irsyad Andhika Ariadi</h3>
                    <span>29 agustus 2024</span>
                    <p>Wow, I love this website. I love this website. I love this website. I love this website. I love
                        this website. I love this website. </p>
                </div>
                <div class="the-comment">
                    <h3 class="uppercase">Irsyad Andhika Ariadi</h3>
                    <span>29 agustus 2024</span>
                    <p>Wow, I love this website. I love this website. I love this website. I love this website. I love
                        this website. I love this website. </p>
                </div>
                <div class="the-comment">
                    <h3 class="uppercase">Irsyad Andhika Ariadi</h3>
                    <span>29 agustus 2024</span>
                    <p>Wow, I love this website. I love this website. I love this website. I love this website. I love
                        this website. I love this website. </p>
                </div>
                <div class="the-comment">
                    <h3 class="uppercase">Irsyad Andhika Ariadi</h3>
                    <span>29 agustus 2024</span>
                    <p>Wow, I love this website. I love this website. I love this website. I love this website. I love
                        this website. I love this website. </p>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="social-media">
            <a
                href="https://www.linkedin.com/in/irsyad-andhika-ariadi-073666317?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                LinkedIn</a>
            <a href="https://www.instagram.com/irsydy_?igsh=MXY4cTJxNHI1c2JiaQ==">Instagram </a>
        </div>
        <p>&copy; 2024. Designed by: Irsyad Andhika Ariadi</p>
    </footer>

    <script src="../js/script.js"></script>
</body>

</html>