<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTECHID</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/component/WEBTECHID_LOGO.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="admin.html">Admin</a></li>
            </ul>
        </nav>
    </header>
    <div class="flex-wrap-3" style="margin-top: 20px;">
        <div style="flex: 1;">
            <section class="popular-blog padding35">
                <h1 class="title-section uppercase" style="margin-bottom: 20px;">Popular News</h1>
                <div class="flex-wrap-3">
                    <a href="blog-detaill.html" class="news-card">
                        <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                        <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                        <div class="padding15" style="margin-bottom: 10px;">
                            <h1 class="news-title">Title News</h1>
                            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                                accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                                iste
                                magni in, sint quidem.</p>
                            <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                            <div style="margin-top: 5px;" class="category-tag-list">
                                <div class="category-tag">Html</div>
                            </div>
                        </div>
                    </a>
                    <div class="news-card">
                        <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                        <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                        <div class="padding15" style="margin-bottom: 10px;">
                            <h1 class="news-title">Title News</h1>
                            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                                accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                                iste
                                magni in, sint quidem.</p>
                            <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                            <div style="margin-top: 5px;" class="category-tag-list">
                                <div class="category-tag">Html</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-card">
                        <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                        <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                        <div class="padding15" style="margin-bottom: 10px;">
                            <h1 class="news-title">Title News</h1>
                            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                                accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                                iste
                                magni in, sint quidem.</p>
                            <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                            <div style="margin-top: 5px;" class="category-tag-list">
                                <div class="category-tag">Html</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside style="min-width: 200px;">
            <h1 class="title-section uppercase">Category</h1>
            <div class="category-list">
                <div class="category-tag-aside">Html</div>
                <div class="category-tag-aside">CSS</div>
                <div class="category-tag-aside">JS</div>
                <div class="category-tag-aside">PHP</div>
                <div class="category-tag-aside">Tailwind</div>
                <div class="category-tag-aside">Bootstrap</div>
            </div>
        </aside>
    </div>
    <main class="padding35" style="margin-top: 40px; margin-bottom: 20px;">
        <div class="flex-center" style="gap: 20px; align-items: center; margin-bottom: 40px;">
            <h1 class="title-section uppercase">Blog</h1>
            <div class="tag-category">
                <button class="btn-tag-category">Html</button>
                <button class="btn-tag-category">Css</button>
                <button class="btn-tag-category">Js</button>
                <button class="btn-tag-category">PHP</button>
                <button class="btn-tag-category">Tailwind</button>
                <button class="btn-tag-category">Bootstrap</button>
            </div>
        </div>
        <div class="flex-wrap-4">
            <div class="news-card">
                <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                <div class="padding15" style="margin-bottom: 10px;">
                    <h1 class="news-title">Title News</h1>
                    <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                        accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                        iste
                        magni in, sint quidem.</p>
                    <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                    <div style="margin-top: 5px;" class="category-tag-list">
                        <div class="category-tag">Html</div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                <div class="padding15" style="margin-bottom: 10px;">
                    <h1 class="news-title">Title News</h1>
                    <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                        accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                        iste
                        magni in, sint quidem.</p>
                    <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                    <div style="margin-top: 5px;" class="category-tag-list">
                        <div class="category-tag">Html</div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                <div class="padding15" style="margin-bottom: 10px;">
                    <h1 class="news-title">Title News</h1>
                    <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                        accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                        iste
                        magni in, sint quidem.</p>
                    <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                    <div style="margin-top: 5px;" class="category-tag-list">
                        <div class="category-tag">Html</div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                <div class="padding15" style="margin-bottom: 10px;">
                    <h1 class="news-title">Title News</h1>
                    <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                        accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel,
                        iste
                        magni in, sint quidem.</p>
                    <span class="date-author">29 agustus 2024 - Irsyad Andhika</span>
                    <div style="margin-top: 5px;" class="category-tag-list">
                        <div class="category-tag">Html</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/irsyad-andhika-ariadi-073666317?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> LinkedIn</a>
            <a href="https://www.instagram.com/irsydy_?igsh=MXY4cTJxNHI1c2JiaQ==">Instagram </a>
        </div>
        <p>&copy; 2024. Designed by: Irsyad Andhika Ariadi</p>
    </footer>
</body>

</html>