<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBTECHID</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/component/WEBTECHID_LOGO.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="admin.html">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="carousel">
            <div class="carousel-container">
                <div class="carousel-slide">
                    <img src="../assets/images/images (1).jpeg" alt="Slide 1">
                </div>
                <div class="carousel-slide">
                    <img src="../assets/images/images (1).jpg" alt="Slide 2">
                </div>
                <div class="carousel-slide">
                    <img src="../assets/images/images (1).png" alt="Slide 3">
                </div>
                <div class="carousel-slide">
                    <img src="../assets/images/images (1).webp" alt="Slide 4">
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </section>
        <section class="section-galery" style="background-color: #333; padding: 30px 0px ; color: white;">
            <h1 class="title-section uppercase" style="text-align: center; margin-bottom: 20px;">Galery</h1>
            <div class="galery">
                <img src="../assets/images/images (12).jpg" alt="">
                <img src="../assets/images/images (16).jpg" alt="">
                <img src="../assets/images/images (14).jpg" alt="">
                <img src="../assets/images/images (15).jpg" alt="">
            </div>
        </section>
        <section class="about" style="padding: 35px 80px;">
            <h1 class="uppercase title-section" style="margin-bottom: 20px;">about the website</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eveniet aspernatur enim voluptas
                repellat ut sint atque similique iste saepe, corrupti dolore quisquam explicabo! Nam eos neque,
                similique totam quae ipsam consequuntur magni nemo dicta corporis voluptates fuga itaque veniam
                cupiditate iusto unde, cum fugit, eius at tenetur magnam recusandae amet quo pariatur! Hic odio, animi
                distinctio consectetur, ipsam, qui deleniti blanditiis delectus iste necessitatibus nihil aperiam sint
                voluptas voluptatibus sapiente cum corrupti sequi eligendi repellat deserunt sunt? Quibusdam doloribus
                consectetur dolores nisi et. Placeat, reiciendis distinctio? Quidem, sed vero? Nesciunt consectetur
                voluptate impedit quas officiis sunt quia quibusdam tempore?</p>
        </section>
        <section class="news" style="background-color: #333; padding: 35px 50px;">
            <div class="header" style="margin-bottom: 20px;">
                <h1 class="uppercase title-section" style="color: white;">News</h1>
                <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="flex-wrap-4">
                <div class="news-card">
                    <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                    <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                    <div class="padding15" style="margin-bottom: 10px;">
                        <h1 class="news-title">Title News</h1>
                        <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                            accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel, iste
                            magni in, sint quidem.</p>
                        <span class="date-author">29 agustus 2006 - Irsyad Andhika</span>
                        <div style="margin-top: 5px;" class="category-tag-list">
                            <div class="category-tag">Html</div>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                    <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                    <div class="padding15" style="margin-bottom: 10px;">
                        <h1 class="news-title">Title News</h1>
                        <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                            accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel, iste
                            magni in, sint quidem.</p>
                        <span class="date-author">29 agustus 2006 - Irsyad Andhika</span>
                        <div style="margin-top: 5px;" class="category-tag-list">
                            <div class="category-tag">Html</div>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                    <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                    <div class="padding15" style="margin-bottom: 10px;">
                        <h1 class="news-title">Title News</h1>
                        <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                            accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel, iste
                            magni in, sint quidem.</p>
                        <span class="date-author">29 agustus 2006 - Irsyad Andhika</span>
                        <div style="margin-top: 5px;" class="category-tag-list">
                            <div class="category-tag">Html</div>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <img src="../assets/images/images (10).jpg" alt="" class="news-pict">
                    <span class="padding15" style="text-align: end; font-size: 13px;">25 View - 15 Comment</span>
                    <div class="padding15" style="margin-bottom: 10px;">
                        <h1 class="news-title">Title News</h1>
                        <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsa
                            accusamus nesciunt quibusdam consequuntur labore repellendus atque veritatis ipsam vel, iste
                            magni in, sint quidem.</p>
                        <span class="date-author">29 agustus 2006 - Irsyad Andhika</span>
                        <div style="margin-top: 5px;" class="category-tag-list">
                            <div class="category-tag">Html</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-service">
            <h1 class="uppercase" style="text-align: center; margin-bottom: 40px;">our service</h1>
            <div class="flex-wrap-3">
                <div class="our-service-content">
                    <h1>Latest News</h1>
                    <p>This service presents the latest news that is always updated in real-time, allowing users to get
                        the latest information from various categories such as politics, economy, technology, and
                        entertainment. Users can subscribe to notifications to get the latest news updates directly to
                        their devices.v</p>
                </div>
                <div class="our-service-content">
                    <h1>In-depth Analysis</h1>
                    <p>In addition to daily news, the website also provides in-depth analysis services from experts in
                        various fields. These analysis articles provide greater insight and different perspectives on
                        important issues happening in the world, helping users understand the background and impact of
                        each event. </p>
                </div>
                <div class="our-service-content">
                    <h1>News Personalization Options</h1>
                    <p>With this service, users can set their news preferences based on their interests and desired
                        topics. The system will automatically display news that matches their preferences, providing a
                        more personalized and relevant experience.</p>
                </div>
            </div>
        </section>
        <section class="Portfolio" style="background-color: #333; padding: 30px 0px; margin-top: 20px;">
            <h1 class="title-section uppercase" style="text-align: center; color: white; margin-bottom: 20px;">Portfolio</h1>
            <div class="galery">
                <img src="../assets/images/images (12).jpg" alt="">
                <img src="../assets/images/images (16).jpg" alt="">
                <img src="../assets/images/images (14).jpg" alt="">
                <img src="../assets/images/images (15).jpg" alt="">
                <img src="../assets/images/images (12).jpg" alt="">
                <img src="../assets/images/images (16).jpg" alt="">
                <img src="../assets/images/images (14).jpg" alt="">
                <img src="../assets/images/images (15).jpg" alt="">
            </div>
        </section>
        <section class="Testimonials">
            <h1 class="title-section uppercase" style="text-align: center; margin-bottom: 20px;">Testimonials</h1>
            <div class="comments-flex">
                <div class="comments">
                    <div class="flex">
                        <img src="../assets/images/images (5).jpg" alt="" class="pict-profile">
                        <div>
                            <h1>Robot-Kun</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem commodi nemo recusandae assumenda reiciendis quo magni eius accusamus vero voluptatum!</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="flex">
                        <img src="../assets/images/images (5).jpg" alt="" class="pict-profile">
                        <div>
                            <h1>Robot-Kun</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem commodi nemo recusandae assumenda reiciendis quo magni eius accusamus vero voluptatum!</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="flex">
                        <img src="../assets/images/images (5).jpg" alt="" class="pict-profile">
                        <div>
                            <h1>Robot-Kun</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem commodi nemo recusandae assumenda reiciendis quo magni eius accusamus vero voluptatum!</p>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="flex">
                        <img src="../assets/images/images (5).jpg" alt="" class="pict-profile">
                        <div>
                            <h1>Robot-Kun</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem commodi nemo recusandae assumenda reiciendis quo magni eius accusamus vero voluptatum!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/irsyad-andhika-ariadi-073666317?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> LinkedIn</a>
            <a href="https://www.instagram.com/irsydy_?igsh=MXY4cTJxNHI1c2JiaQ==">Instagram </a>
        </div>
        <p>&copy; 2024. Designed by: Irsyad Andhika Ariadi</p>
    </footer>

    <script src="../js/script.js"></script>
</body>

</html>