* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.menu ul li {
    color: white;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    background-color: #575757;
    margin: 10px 0;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
}

.sidebar-menu li a:hover {
    background-color: #444;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
    padding-top: 80px;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        margin-left: 200px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }
    .main-content {
        margin-left: 0;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        padding: 15px;
    }
    .charts {
        flex-direction: column;
        gap: 10px;
    }
}
